USE [OrnekDb]
GO
/****** Object:  Table [dbo].[Musteri]    Script Date: 12/22/2020 11:24:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Musteri](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Ad] [nvarchar](max) NULL,
	[Soyad] [nvarchar](max) NULL,
	[Sehir] [nvarchar](max) NULL,
 CONSTRAINT [PK_Musteri] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sepet]    Script Date: 12/22/2020 11:24:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sepet](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MusteriId] [int] NULL,
	[Tarih] [datetime] NULL,
 CONSTRAINT [PK_Sepet] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SepetUrun]    Script Date: 12/22/2020 11:24:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SepetUrun](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SepetId] [int] NULL,
	[Tutar] [numeric](18, 0) NULL,
	[Aciklama] [nvarchar](max) NULL,
 CONSTRAINT [PK_SepetUrun] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Musteri] ON 

INSERT [dbo].[Musteri] ([Id], [Ad], [Soyad], [Sehir]) VALUES (1, N'QEIX4N4A', N'QEIX4N4A', N'İzmit')
INSERT [dbo].[Musteri] ([Id], [Ad], [Soyad], [Sehir]) VALUES (2, N'X3LH8LFM', N'X3LH8LFM', N'Sakarya')
INSERT [dbo].[Musteri] ([Id], [Ad], [Soyad], [Sehir]) VALUES (3, N'ORKW4M8D', N'ORKW4M8D', N'Muş')
SET IDENTITY_INSERT [dbo].[Musteri] OFF
GO
SET IDENTITY_INSERT [dbo].[Sepet] ON 

INSERT [dbo].[Sepet] ([Id], [MusteriId], [Tarih]) VALUES (1, 5, CAST(N'2020-12-22T21:46:54.850' AS DateTime))
INSERT [dbo].[Sepet] ([Id], [MusteriId], [Tarih]) VALUES (2, 5, CAST(N'2020-12-22T21:46:54.853' AS DateTime))
INSERT [dbo].[Sepet] ([Id], [MusteriId], [Tarih]) VALUES (3, 4, CAST(N'2020-12-22T21:46:54.857' AS DateTime))
SET IDENTITY_INSERT [dbo].[Sepet] OFF
GO
SET IDENTITY_INSERT [dbo].[SepetUrun] ON 

INSERT [dbo].[SepetUrun] ([Id], [SepetId], [Tutar], [Aciklama]) VALUES (1, 1, CAST(724 AS Numeric(18, 0)), N'EG8OYCJD1GU2IAAEBGXJUA5IACYPOGYNTTAFGBREFK8KUNEFUZY9V6EEK0OVN4YURGIZA48AZSDKBVYX8S4ZSZ2WP64PX50KVN2N')
INSERT [dbo].[SepetUrun] ([Id], [SepetId], [Tutar], [Aciklama]) VALUES (2, 1, CAST(218 AS Numeric(18, 0)), N'PFZ1XJC34CZC0X599C2OWJD9SM322YY2KSTNE85PZ3U3FN6I5KWLA9SFBZJLQJAFO71IDR5BHNY3ZJ4EQV7RCN1LAOLPZT8P2OPH')
INSERT [dbo].[SepetUrun] ([Id], [SepetId], [Tutar], [Aciklama]) VALUES (3, 1, CAST(654 AS Numeric(18, 0)), N'YENPVEWKZP15E55MSDBFQIZFQMXOIAK3WS1QTBQIFAL8TTUYDDKKOBFPOH9JRHBYF8IWDO3QW2AQ71V618KFZAPUMMCLCH178W3V')
GO
SET IDENTITY_INSERT [dbo].[SepetUrun] OFF
GO
